.header_title {
  margin-bottom: -3px;
}

.no_saved_container {
  margin-top: 50px;
  text-align: center;
}

.header_desc,
.no_saved_desc,
.saved_location {
  color: #636e72;
}

.markets_link {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #111827;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.no_saved_container.none {
  display: none;
}

.saved_delete_btn {
  display: inline-block;
  padding: 12px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.saved_delete_btn:hover {
  background-color: rgba(233, 114, 114, 0.5);
}

.saved_delete_img {
  width: 16px;
  height: 16px;
}

.saved_header {
  font-weight: bold;
  font-size: 20px;
}

.saved_container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.saved_container ~ .saved_container {
  margin-top: 20px;
}

.container_main {
  margin-top: 20px;
}
