.produce-guide {
    display: flex;
}

.sidebar {
    background: blue;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 20px;
    padding: 20px;
}

.listCategories{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}